<ion-header>
  <ion-navbar>
    <ion-title>Add Item</ion-title>
    <ion-buttons start>
      <button ion-button (click)="close()">Cancel</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <h3>Price Threshold</h3>

  	<ion-list>
  	  <ion-item>
  		<ion-label>Choose a range</ion-label>
  		<ion-select [(ngModel)]="pThreshold">
  			<ion-option *ngFor = "let option of priceThreshold" > ≥ ${{option}}</ion-option>
  		</ion-select>
  	  </ion-item>
  	</ion-list>


  	<button ion-button color="primary" block (click)="showPrompt()">Set a Custom Price Threshold</button>


  <ion-searchbar [(ngModel)]="searchKey"></ion-searchbar>
  <button ion-button full icon-only (click)="onSearch()">
    <ion-icon name="search"></ion-icon>
  </button>
  <ng-template #noSearchResults>
    <h2>No results</h2>
  </ng-template>
  <ion-list *ngIf="foundSearchResults; else noSearchResults">
    <ion-card *ngFor="let item of searchResults">
      <img *ngIf="item.LargeImage" src={{item.LargeImage[0].URL}} />
      <ion-card-content *ngIf="item.ItemAttributes">
        <ion-card-title>{{item.ItemAttributes[0].Title}}</ion-card-title>
        <p *ngIf="item.ItemAttributes[0].ListPrice">Current Price: {{item.ItemAttributes[0].ListPrice[0].FormattedPrice}}</p>
      </ion-card-content>
      <button ion-button full icon-right (click)="addItem(item)">
        Add Item
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-card>
  </ion-list>
  <form [formGroup]="urlForm" (submit)="manualAdd()">
    <ion-item>
      <ion-label stacked>First URL</ion-label>
      <ion-input #firstURL formControlName="firstURL" placeholder="first URL">
        </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Second URL</ion-label>
      <ion-input #secondURL formControlName="secondURL" placeholder="second URL">
        </ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Third URL</ion-label>
      <ion-input #thirdURL formControlName="thirdURL" placeholder="third URL">
        </ion-input>
    </ion-item>

    <button ion-button block type="submit">
      Add By URL
    </button>
  </form>
</ion-content>
