<ion-view title="SetupProfile">
  <ion-content padding="true" class="has-header">
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <div class="spacer" style="width: 300px; height: 22px;" ng-click="handleFileSelect()"></div>
    <form class="list">
      <ion-list>
        <label class="item item-input">
          <span class="input-label">Account Name</span>
          <input type="text" ng-model="username" placeholder="">
        </label>
        <label class="item item-input">
          <span class="input-label">First Name</span>
          <input type="text" ng-model="1=firstName" placeholder="">
        </label>
        <label class="item item-input">
          <span class="input-label">Last Name</span>
          <input type="text" ng-model="lastName" placeholder="">
        </label>
      </ion-list>
      <button class="button button-stable  button-block">Complete Profile</button>
    </form>
  </ion-content>
</ion-view>