<ion-view style="" title="Welcome">
  <ion-content class="has-header" padding="true" style="background: url(https://s3.amazonaws.com/ionic-io-static/gw2bsj1tQHWsemYVuAhT_11.jpg) no-repeat center;background-size:cover;">
    <div>
      <img style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;" src="img/bgFotxIrTX6rpl8Qen0s_SRU-Logo-Transparent.png">
    </div>
    <div style="width: 300px; height: 23px;" class="spacer"></div>
    <form class="list">
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input placeholder="" ng-model="email" type="text">
      </label>
    </form>
    <form class="list">
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input placeholder="" ng-model="password" type="password">
      </label>
    </form>
    <button class="button button-energized  button-block" ng-click="signIn(email, password)" ui-sref="page2"> Login!</button>
    <button class="button button-positive  button-block button-clear" ng-click="signUp(email, password)">Register</button>
  </ion-content>
</ion-view>